* {
    margin: 0;
    padding: 0;
}

body.myBody {
    background-color: #9594af;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.myNav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
    background-color: #6b68af;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.myNav a {
    color: rgb(255, 255, 255);
    font-size: 32pt;
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration: none;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20pt;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin:auto;
    transition:0.25s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.title {
    font-size: 20pt;
    font-weight: bolder;
    font-variant: small-caps;
    color: #fff;
    margin-left:50px;
}

.main-header {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(
        rgba(101, 186, 255, 0.589),
        rgba(0, 16, 46, 0.733)
    ), url(./images/clinic1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio-header {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(
        rgba(255, 162, 22, 0.575) 20%,
        rgba(0, 16, 46, 0.733) 90%,
        rgb(149, 148, 175) 99%
    ), url(./images/clinic2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-header h1 {
    font-size: 62pt;
    margin-top: 5%;
}

.portfolio-header i {
    font-size: 64pt;
    text-shadow: #000 0px 0px 20px;
    transition: 1s;
}

.portfolio-header i:hover {
    transform: rotate(360deg);
}

.about-header {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgba(184, 8, 8, 0.822),
        rgba(0, 16, 46, 0.733)
    ), url(./images/clinic3.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header myContent {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header h1 {
    padding:20pt 0;
    font-size: 62pt;
}

.about-header p {
    font-size: 16pt;
    padding: 20pt 0;
}

.contact-header {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.349) 0%,
        rgba(0, 16, 46, 0.733) 90%,
        rgb(149, 148, 175) 99%
    ), url(./images/clinic3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header h1 {
    font-size: 62pt;
    margin-top: 5%;
}

.contact-header i {
    font-size: 64pt;
    text-shadow: #000 0px 0px 20px;
    transition: 2s;
}

.contact-header i:hover {
    transform: rotate(360deg);
}

.contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-column input, .contact-column textarea, .contact-column .myButton {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #6b68af;
}

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.text-box {
    width: 90%;
    color: #fff;
    text-align: left;
    top: 50%;
    left: 50%;
    margin-left: 10%;
}

.text-box h1 {
    font-size: 62pt;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}


.image {
    max-width: 50%;
    max-height: 100%;
    margin-right: 10%;
    
}

.myButton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 13px;
    font-size:32px;
    background:transparent;
    position:relative;
    cursor:pointer;
    transition:0.25s;
    margin-right:30px;
}

.myButton:hover {
    background:#fff;
    color:#6b68af;
}

.footer {
    width: 100%;
    max-height: fit-content;
    text-align: center;
    padding: 20px 0;
    background-color: #6b68af;
    color: #fff;
    position:fixed;
    left:0;
    bottom: 0;
}

.footer h4 {
    font-variant: small-caps;
    margin: 5px 0;
    font-weight: 600;
}

.footer p {
    margin: 5px 0;
}

.icons .fa {
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    font-size: 20pt;
}

.portfolio {
    width: 80%;
    min-height: 30vh;
    margin: auto;
    align-self: center;
    padding-top: 2%;
    padding-bottom: 5%;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.portfolio-col {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio-col img{
    width: 25%;
    transition: 0.25s;
    cursor:pointer;
}

.portfolio-col img:hover{
    width: 28%;
}

.portfolio-col h1 {
    padding-top: 0;
}

.portfolio-col p {
    padding: 15px 0 25px;
}

.portfolio .myButton {
    font-size: 16px;
}